front/.DS_Store
front/node_modules
front/build
front/.svelte-kit
front/package
front/.env
front/.env.*
front/!.env.example
front/.vercel
front/.output
front/vite.config.js.timestamp-*
front/vite.config.ts.timestamp-*
front/src/lib/server/config.json
front/static/*
!front/static/robots.txt
back/sqlite.db*
front/src/lib/clientconfig.json
back/logs
back/node_modules
back/config.json
front/package-lock.json
front/package-lock.json
