@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-dark-1: #03141b;
	--color-dark-2: #2e51a2;
	--color-dark-3: #2c2c2c;
	--color-light-1: #eee;
	--color-light-2: #ddd;
	--color-light-3: #a6b7d1;

	--color-bg-1: var(--color-dark-1);
	--color-fg-1: var(--color-light-1);

	--color-bg-2: var(--color-dark-2);
	--color-fg-2: var(--color-light-2);

	--color-bg-3: var(--color-dark-3);
	--color-fg-3: var(--color-light-3);

	--color-bg-4: var(--color-light-2);
	--color-fg-4: var(--color-dark-3);

	font-family: var(--font-body);
}
@media (prefers-color-scheme: light) {
}

body {
	min-height: 100svh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-dark-2);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
button {
	background: var(--color-fg-1);
	border: solid 1px;
}
button:active {
	background: var(--color-fg-3);
}
button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.modal {
	border-radius: 5px;
	background: var(--color-bg-3);
	display: inline-block;
	padding: 1em;
	box-shadow: 1px 1px 5px 0px black;
	border: solid 1px black;
	opacity: 0.9;
}
.modalbg {
	height: 100svh;
	width: 100vw;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
}
.svgIcon {
	height: 1.5rem;
	width: 1.5rem;
	padding: 0.15rem 0rem;
	margin: 0.1rem;
}
.svgIcon:hover {
	cursor: pointer;
	color: var(--color-bg-2);
	background: var(--color-fg-2);
	border-radius: 3px;
}
.greentext {
	color: #789922;
}
.bluetext {
	color: #1b60ff;
}
.redtext {
	color: #ff0000;
}
.spoilertext {
	background: black;
	color: black;
}
.spoilertext img {
	opacity: 0;
}
.spoilertext:hover {
	color: white;
}
.spoilertext:hover img {
	opacity: 1;
}
.transparent {
	opacity: 0.66;
}
.actiontext {
	font-style: italic;
	color: grey;
}
img.emote {
	max-width: 2rem;
	max-height: 2rem;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--color-bg-4);
}
::-webkit-scrollbar-thumb {
	background: var(--color-bg-3);
	border: solid 1px var(--color-bg-4);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-bg-2);
}
